<div class="edit-pane-container">
  <div class="edit-pane">
    <fieldset class="url">
      <label>URL</label>
      {{input value=url}}
    </fieldset>
    <fieldset class="properties clearfix">
      <label>Properties</label>
      <ul>
        {{#each properties}}
          {{property-editor property=this isNew=isNew}}
        {{/each}}
      </ul>
      <button class="add-property primary" {{action 'add'}}>
        <i class="fa fa-plus"></i>
      </button>
    </fieldset>
    <section class="actions clearfix">
      <button class="save action" {{action 'save'}}>Save</button>
      <button class="cancel neutral" {{action 'cancel'}}>Cancel</button>
    </section>
  </div>
</div>
