<div class="edit-pane-container">
  <div class="edit-pane">
    <fieldset class="url">
      <label>URL</label>
      {{input value=url}}
    </fieldset>
    <fieldset class="properties">
      <label>Properties</label>
      <ul>
        {{#each properties}}
          {{property-editor property=this isNew=isNew onRemoval="removeProperty"}}
        {{/each}}
      </ul>
      <section class="actions">
        <button class="add-property primary" {{action 'addProperty'}}>
          <i class="fa fa-plus"></i>
        </button>
      </section>
    </fieldset>
    <section class="actions clearfix">
      <button class="save action" {{action 'save'}}>Save</button>
      <button class="remove danger" {{action 'remove'}}>Delete</button>
    </section>
  </div>
</div>
