<div class="pane" {{bind-attr style=style}}>
  <iframe {{bind-attr src=url}} frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
</div>

<div class="edit-pane" {{bind-attr style=style}}>
  <ul class="properties">
    {{#each properties}}
      <li>
        {{name}}: {{value}}{{units}}
      </li>
    {{/each}}
  </ul>
</div>
