<div class="pane" {{bind-attr style=style}}>
  {{web-page src=url}}
  <div class="edit-options">
    <div class="edit-option edit-pane" {{action 'edit'}}>
      <i class="fa fa-edit"></i>
    </div>
    <div class="edit-option swap-url" {{action 'swap'}}>
      <i class="fa fa-link"></i>
      <i class="fa fa-arrows-h"></i>
      <i class="fa fa-link"></i>
    </div>
  </div>
  <div class="pane-id">{{id}}</div>
</div>

{{partial 'pane-editor'}}
