<form class="settings" {{action 'save' on="submit"}}>

  <fieldset>
    <label>Pusher API Key</label>
    {{input value=pusherApiKey}}
  </fieldset>

  <fieldset>
    <label>Slack Channel Name</label>
    {{input value=slackChannelName}}
  </fieldset>

  <fieldset>
    <label>Standup URL</label>
    {{input value=standupUrl}}
  </fieldset>

  <div class="settings-actions clearfix">
    <button class="save action" type="submit">Save</button>
    <button class="neutral" {{action 'cancel'}}>Cancel</button>
  </div>
</form>
