{{#each}}
  {{render 'pane' this}}
{{/each}}

<div class="edit-surface">
  <a class="edit" {{action 'edit'}} href="#">
    <i class="fa fa-th"></i>
  </a>
</div>

<div class="edit-actions">
  <button class="add" {{action 'addPane'}}>
    <i class="fa fa-plus-square"></i>
  </button>
  <button class="open-settings" {{action 'openSettings'}}>
    <i class="fa fa-cog"></i>
  </button>
  <button class="close" {{action 'close'}}>
    <i class="fa fa-times"></i>
  </button>
</div>

<div class="undo delete-undo clearfix">
  <button class="action" {{action 'undo'}}>Undo Delete</button>
  <a {{action 'dismissUndo'}} href="#">Dismiss</a>
</div>

<div class="undo swap-undo">
  <button class="action" {{action 'cancelSwap'}}>Cancel Swap</button>
</div>

{{render 'settings'}}

{{outlet}}
