<section class="project-container">

  <header>
    {{item-picker items=projects currentItemId=id onSelect="didSelectProject"}}
  </header>

  <section class="iterations">
    {{#each iterations}}
      <article>
        <h3>{{date start}} - {{date finish}}</h3>
        <ul class="stories">
          {{#each stories}}
            <li {{bind-attr class="current_state story_type"}}>
              {{story_icon story_type}}
              {{name}}
            </li>
          {{/each}}
        </ul>
      </article>
    {{/each}}
  </section>

</section>
